node_modules/*
.cache/*
src/.temp/*

**/.ipynb_checkpoints/*
# Ignore root dist directory from `gridsome build`, we need src/data/dist
dist/*

# Ignore data debug directory, which is just used to view and debug the intermediate data
src/data/debug/*

**/__pycache__/*

.DS_Store

*.venv
/.venv
node_modules
.venv*
.venv-notebook

.vscode/
*.vscode/*
settings.json
*/settings.json

*.egg-info*