node_modules/*
.cache/*
src/.temp/*

# Ignore root dist directory from `gridsome build`, we need src/data/dist
dist/*

# Ignore data debug directory, which is just used to view the data, but makes huge
# JSON files
src/data/debug/*.json

**/__pycache__/*

.DS_Store
src/data/dist/.~lock.benchmarking-all-years.csv#
src/data/dist/.~lock.building-benchmarks.csv#
