/**
 * Global Colors
 */

$grey: #dcdcdc;
$grey-dark: #c4c1c1;
$grey-light: #eaeaea;

$orange: #ffa500;
$black: #000;
$white: #fff;

$text-main: #000;
$link-blue: #2136ab;

$chicago-blue: #41B6E6;
$chicago-red: #E4002B;

$box-shadow-main: rgba(0,0,0,0.25);
