// Manually import other SCSS files here so we can use them
@import './colors';
@import './spacing';

/**
 * Global Styles
 */
body {
  margin: 0;
  padding: 0;
  line-height: 1.5;

  &,
  * {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
  }

  // Disable page scroll when we have an open modal
  &:has(dialog[open]) {
    overflow: hidden;
  }

  *:target {
    border-bottom: solid $border-thick $blue-very-dark !important;
  }
}

// Default focus styles
*:focus-visible {
  outline: 0.25rem dashed $blue-very-dark;
  outline-offset: 0.125rem;
}

a {
  color: $link-blue;
}

a.grey-link {
  background-color: $grey-light;
  color: $black;
  border-radius: $brd-rad-small;
  padding: 0.25rem 1rem;
  text-decoration: none;

  &:hover,
  &:focus {
    background-color: $grey;
  }
}

// Make sure headings handle focus, as well as elements marked "targetable", which have IDs for
// anchor links (e.g. `<a href="#energy-mix">`)
h1,
h2,
h3,
h4,
h5,
h6,
.targetable {
  &:focus {
    border-bottom: solid 0.5rem $chicago-blue;
    outline: none;
  }

  // Drop margin for the first paragraph after a heading
  + p {
    margin-top: 0;
  }
}

/**
 * Mobile Font Size Overrides
 */
@media (max-width: $mobile-max-width) {
  h1 {
    font-size: 1.75rem;
  }
  h2 {
    font-size: 1.25rem;
  }
}

h1 {
  margin: 1.5rem 0 0.5rem 0;
}
h2 {
  margin: 1rem 0 0.5rem 0;
}

p.-no-margin,
p:first-of-type {
  margin: 0;
}

/** A global class to hide elements via CSS */
.hidden {
  display: none;
}

/**
 * Default Form Styling
 */
select {
  padding: 0.5rem;
  font-size: 0.875rem;
}

button {
  padding: 0.5rem 1rem 0.3rem 1rem;
  background-color: $white;
  border-radius: $brd-rad-small;
  color: $black;
  border: none;
  border-bottom: solid 0.4rem $chicago-blue;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;

  &.-grey {
    background-color: $grey;
    border-bottom: none;

    &:hover,
    &:focus {
      background-color: $grey-dark;
    }
  }
}

/**
 * Text helpers
 */
.bold {
  font-weight: bold;
}

dl {
  dt {
    font-weight: bold;
  }
  dd {
    margin-left: 0;
  }

  dd + dt {
    margin-top: 1rem;
  }
}

/** Style the basic disclosure widget <details> and <summary> */
details {
  margin-bottom: 1rem;
  border: solid $border-thin transparent;
  background-color: $off-white;

  &,
  summary {
    border-radius: $brd-rad-medium;
  }

  summary {
    background-color: $grey-light;
    padding: 1rem 1.5rem;
    cursor: pointer;

    &:focus {
      outline-offset: 0;
    }
    > span {
      margin-left: 0.5rem;
    }
  }

  .details-content {
    padding: 1.5rem;
  }
}

img {
  max-width: 100%;
}

img.-shadowed {
  margin-top: 1rem;
  border: solid $border-thin $grey;
  box-shadow: 0.125rem 0.125rem 0.25rem $box-shadow-main;
}

.large-text {
  font-size: 1.3em;
}

.smaller {
  font-size: smaller;
}

.regular-text-size {
  font-size: 1rem;
}

.x-small-text {
  font-size: 0.75rem;
}

.footnote {
  font-size: 0.75rem;
  margin-top: 1rem;

  &.-img {
    margin-top: 0;
  }
}

/**
 * Styling for our building letter grades (A-F) with colors for each for emphasis
 */
.letter-grade {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  line-height: 1;

  &.-a {
    color: #009f49;
  }

  &.-b {
    color: #7fa52e;
  }

  &.-c {
    color: #b36a15;
  }

  &.-d {
    color: #972222;
  }

  &.-f {
    color: #d60101;
  }

  // Create a -circled style for the tables
  &.-circled {
    display: inline-block;
    border: solid $border-thin;
    width: 1.375rem;
    height: 1.375rem;
    padding: 1.5px;
    text-align: center;
    border-radius: 1rem;
    background: white;
    border-width: 0.125rem;
    margin-left: 0.5rem;
    vertical-align: 1px;

    &.-d,
    &.-b {
      padding-right: 0;
    }
  }

  &.-large {
    font-size: 2.5rem;
  }

  &.-spaced {
    margin-left: 1rem;
  }
}

/**
 * Class to mimic page width
 */
.page-constrained {
  max-width: $desktop-max-width;
  margin: 0 auto;
  padding: 0 1rem;
}

// Use .constrained for a reasonable max-width for text readability and .layout-constrained for a
// centered version
.layout-constrained,
.constrained {
  max-width: 50rem;

  &.-wide {
    max-width: 60rem;
  }
  &.layout-constrained {
    margin: auto;
  }
}

/** Search Form styling */
form.search-form {
  .input-cont {
    display: flex;
    white-space: nowrap;
  }

  input,
  button {
    height: 2.5rem;
    box-sizing: border-box;
    border: solid $border-thin $grey;
    padding: 0 1rem;
  }

  $border-radius: 5rem;

  input {
    border-radius: $border-radius 0 0 $border-radius;
    width: 14rem;
    border-right: none;
    padding-right: 0;
    flex-grow: 1;
  }

  button {
    display: flex;
    align-items: center;
    padding: 0 1rem 0 0.5rem;
    gap: 0.5rem;
    border-radius: 0 $border-radius $border-radius 0;
    border-left: none;
    font-weight: bold;
    background-color: $grey;

    &:hover,
    &:focus {
      background-color: $grey-dark;
    }
  }
}

.announce-panel {
  padding: 1rem;
  border-radius: 1rem;
  border: solid 0.25rem #ff5454;
  background: $off-white;
  border-top-width: 2rem;
  max-width: 40rem;

  &.-orange {
    border-color: $orange;
  }
  &.-blue {
    border-color: $chicago-blue;
  }

  h2,
  h3 {
    margin-top: 0;
  }

  .bold {
    font-size: 1.125rem;
  }

  .faded {
    color: $text-mid-light;
  }

  @media (max-width: $mobile-max-width) {
    .bold {
      font-size: 1rem;
    }
  }
}

/**
 * A simple panel, for smaller warnings and such
 */
.panel {
  border: solid $border-thin $grey-dark;
  border-radius: $brd-rad-small;
  padding: 1rem;
  background: $grey-light;

  &.-warning {
    background: $warning-background;
    border-color: $warning-border;
  }
}

/**
 * <Pager> styling
 */
nav.pager {
  display: inline-flex;
  gap: 1rem;
  margin-top: 1rem;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $text-main;
    background-color: $grey;
    width: 2.5rem;
    aspect-ratio: 1;
    text-align: center;
    border-radius: $brd-rad-small;
    text-decoration: none;
    font-weight: bold;

    &:hover,
    &:focus {
      background-color: $grey-dark;
    }

    &.active {
      background-color: $orange;
      cursor: default;
    }
  }

  @media (max-width: $mobile-max-width) {
    gap: 0.25rem;

    a {
      width: 2rem;
    }
  }
}

/**
 * Tooltips styling
 *
 * Base Imports:
 *  import vToolTip from 'v-tooltip';
 *  Vue.use(vToolTip);
 *
 * Base Component Structure:
 *    <img
 *      v-tooltip="tooltipMessage"
 *      class="tooltip"
 *      src="/help.svg"
 *      alt="Help icon"
 *      tabindex="0"
 *    >
 *
 * Positioning Modifier:
 *    v-tooltip.[top | bottom | left | right]
 *    Ex.
 *      <img
 *        v-tooltip.bottom="tooltipMessage"
 *        class="tooltip"
 *        src="/help.svg"
 *        alt="Help icon"
 *        tabindex="0"
 *      >
 */
.tooltip {
  // The width of the tooltip tip
  $tooltipSize: 0.3125rem;
  z-index: 10000;

  .tooltip-inner {
    background: $white;
    color: $black;
    border-radius: 4px;
    border: $border-thin solid $blue-dark;
    box-shadow: 0.25rem 0.25rem 0.25rem $grey;
    padding: 0.25rem 0.5rem 0.25rem;
    width: 22rem;
    padding: 1rem;

    p {
      font-size: 0.8rem;
    }

    .title {
      font-size: 1rem;
      font-weight: 700;
      color: $blue-dark;
      margin: 0;
      margin-bottom: 0.75rem;
    }
  }

  .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: $tooltipSize;
    border-color: $blue-dark;
    z-index: 1;
  }

  // Positioning modifiers
  &[x-placement^='top'] {
    margin-bottom: $tooltipSize;

    .tooltip-arrow {
      border-width: $tooltipSize $tooltipSize 0 $tooltipSize;
      border-left-color: transparent;
      border-right-color: transparent;
      border-bottom-color: transparent;
      bottom: -$tooltipSize;
      left: calc(50% - $tooltipSize);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^='bottom'] {
    margin-top: $tooltipSize;

    .tooltip-arrow {
      border-width: 0 $tooltipSize $tooltipSize $tooltipSize;
      border-left-color: transparent;
      border-right-color: transparent;
      border-top-color: transparent;
      top: -$tooltipSize;
      left: calc(50% - $tooltipSize);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^='right'] {
    margin-left: $tooltipSize;

    .tooltip-arrow {
      border-width: $tooltipSize $tooltipSize $tooltipSize 0;
      border-left-color: transparent;
      border-top-color: transparent;
      border-bottom-color: transparent;
      left: -$tooltipSize;
      top: calc(50% - $tooltipSize);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &[x-placement^='left'] {
    margin-right: $tooltipSize;

    .tooltip-arrow {
      border-width: $tooltipSize 0 $tooltipSize $tooltipSize;
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: transparent;
      right: -$tooltipSize;
      top: calc(50% - $tooltipSize);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    transition:
      opacity 0.15s,
      visibility 0.15s;
  }

  &[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.15s;
  }
}

/** A container for multiple BuildingTiles */
.buildings-scroll-cont {
  position: relative;
  $card-padding: 0.75rem;
  // Grow to account for inner padding
  margin: 1rem (-$card-padding) 2rem (-$card-padding);
  overflow: scroll hidden;

  // Create a fake partial right border to make clear it's scrollable
  &::after {
    content: '';
    width: 60px;
    height: 4px;
    background: gray;
    position: absolute;
    bottom: -4px;
  }

  // Set scrollbar width
  &::-webkit-scrollbar {
    width: 0.75rem;
  }
  // Scrollbar track
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: $brd-rad-medium;
    margin: $card-padding;
  }

  // Scrollbar Handle
  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: $brd-rad-medium;
    cursor: pointer;

    // Scroll handle on hover
    &:hover {
      background: #555;
    }
  }

  ul.building-tiles {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;

    li {
      padding: 0.5rem $card-padding 1.5rem $card-padding;
    }
  }

  @media (max-width: $mobile-max-width) {
    // Undo padding on mobile to make scroll full width
    & {
      margin-left: -1rem;
      margin-right: -1rem;

      ul.building-tiles {
        li {
          padding-left: 1rem;
          padding-right: 1rem;
        }
      }
    }
  }
}
