/**
 * Global Styles
 */
body {
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

a { color: $link-blue; }

/**
 * Text helpers
 */
.bold { font-weight: bold; }

.footnote {
    font-size: 0.75rem;
    margin-top: 1rem;
}

dl {
  dt { font-weight: bold; }
  dd { margin-left: 0; }

  dd + dt { margin-top: 1rem; }
}

/**
 * <Pager> styling
 */
nav.pager {
    display: inline-flex;
    gap: 1rem;
    margin-top: 1rem;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      color: $text-main;
      background-color: $grey;
      width: 2.5rem;
      aspect-ratio: 1;
      text-align: center;
      border-radius: 0.25rem;
      text-decoration: none;
      font-weight: bold;

      &:hover, &:focus {
        background-color: $grey-dark;
      }

      &.active {
        background-color: $orange;
        cursor: default;
      }
    }

    @media (max-width: $mobile-max-width) {
      gap: 0.25rem;

      a { width: 2rem; }
    }
  }