/**
 * Global Styles
 */
body {
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

.bold { font-weight: bold; }

a { color: $link-blue; }

/**
 * <Pager> styling
 */
nav.pager {
    display: inline-flex;
    gap: 1rem;
    margin-top: 1rem;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      color: $text-main;
      background-color: $grey;
      width: 2.5rem;
      aspect-ratio: 1;
      text-align: center;
      border-radius: 0.25rem;
      text-decoration: none;
      font-weight: bold;

      &:hover, &:focus {
        background-color: $grey-dark;
      }

      &.active {
        background-color: $orange;
        cursor: default;
      }
    }

    @media (max-width: $mobile-max-width) {
      gap: 0.25rem;

      a { width: 2rem; }
    }
  }