// Manually import other SCSS files here so we can use them
@import './colors';
@import './spacing';

/**
 * Global Styles
 */
body {
  margin: 0;
  padding: 0;
  line-height: 1.5;

  &, * { font-family: 'Roboto', sans-serif; }
}

*:focus {
  outline: dashed $chicago-red;
  outline-offset: 0.125rem;
}

a { color: $link-blue; }

h1, h2, h3, h4, h5, h6 {
   &:focus {
    border-bottom: solid 0.5rem $chicago-blue;
    outline: none;
  }
}

/**
 * Default Form Styling
 */
select {
  padding: 0.5rem;
  font-size: 0.875rem;
}

button {
  padding: 0.5rem 1rem 0.3rem 1rem;
  background-color: $white;
  border-radius: $brd-rad-small;
  color: $black;
  border: none;
  border-bottom: solid 0.4rem $chicago-blue;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;

  &.-grey {
    background-color: $grey;
    border-bottom: none;

    &:hover, &:focus {
      background-color: $grey-dark;
    }
  }
}

/**
 * Text helpers
 */
.bold { font-weight: bold; }

dl {
  dt { font-weight: bold; }
  dd { margin-left: 0; }

  dd + dt { margin-top: 1rem; }
}

summary { cursor: pointer; }
summary:focus { outline-offset: 0; }

img { max-width: 100%; }

img.-shadowed {
  border: solid $border-thin $grey;
  box-shadow: 0.125rem 0.125rem 0.125rem $box-shadow-main;
}

.large-text {
  font-size: 1.3em;
}

.footnote {
  font-size: 0.75rem;
  margin-top: 1rem;

  &.-img { margin-top: 0; ;}
}

// Use .constrained for a reasonable max-width for text readability
.layout-constrained, .constrained {
  max-width: 50rem;

  &.-wide { max-width: 60rem; }
  &.layout-constrained { margin: auto; }
}

/** Search Form styling */
form.search-form {
  .input-cont {
    display: flex;
    white-space: nowrap;
  }

  input, button {
    height: 2.5rem;
    box-sizing: border-box;
    border: solid $border-thin $grey;
    padding: 0 1rem;
  }

  $border-radius: 5rem;

  input {
    border-radius: $border-radius 0 0 $border-radius;
    width: 14rem;
    border-right: none;
    padding-right: 0;
    flex-grow: 1;
  }

  button {
    border-radius: 0 $border-radius $border-radius 0;
    border-left: none;
    font-weight: bold;
    background-color: $grey;

    &:hover, &:focus {
      background-color: $grey-dark;
    }
  }
}

/**
 * <Pager> styling
 */
nav.pager {
    display: inline-flex;
    gap: 1rem;
    margin-top: 1rem;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      color: $text-main;
      background-color: $grey;
      width: 2.5rem;
      aspect-ratio: 1;
      text-align: center;
      border-radius: $brd-rad-small;
      text-decoration: none;
      font-weight: bold;

      &:hover, &:focus {
        background-color: $grey-dark;
      }

      &.active {
        background-color: $orange;
        cursor: default;
      }
    }

    @media (max-width: $mobile-max-width) {
      gap: 0.25rem;

      a { width: 2rem; }
    }
}
