/**
 * Screen Sizes
 */
$small-mobile-max-width: 30rem; // 480px
$mobile-max-width: 50rem; // 800px
$desktop-min-width: 50.0625rem; // 801px (mobile breakpoint + 1px in rem)
$large-desktop-min-width: 75rem; // 1200px
$desktop-max-width: 87.5rem; // 1400px
