/**
 * Screen Sizes
 */
$mobile-max-width: 800px;

$border-thin: 0.0625rem; // eq. to 1px
$border-medium: 0.125rem; // eq. to 2px
$border-thick: 0.1875rem; // eq. to 3px
$border-v-thick: 0.25rem; // eq. to 4px
